.Application {

	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 100%;

	.left {
		margin-top: 1rem;
		width: 30vw;

		.Manager {
			margin-bottom: 2rem;
		}
	}

	.right {
		margin-top: 1rem;
		width: 100%;
		margin-left: 3rem;
	}

	.toggleTheme {
		position: fixed;
		right: 1rem;
		top: 1.5rem
	}
}


