.Application {

	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	overflow-x: hidden;


	.content {
		height: 100%;
		width: 100%;

		.inner {
			margin: 2rem;
			display: flex;
			height: 100%;

			.left {
				width: 30vw;

				.Manager {
					margin-bottom: 2rem;
				}
			}

			.right {
				width: 100%;
				margin-left: 3rem;
			}
		}

	}


	.Drawer {
		height: 100%;
	}


}


